// TODO: self-host fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import 'normalize.css';
@import '@/variables/variables.css';
@import '@/helpers/utilityClasses.scss';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  font-optical-sizing: auto;
  background-color: var(--background-color);
  color: var(--font-color-base);
}

p {
  line-height: 1.4;
}

a,
a:visited,
a:hover,
a:active {
  color: var(--font-color-base);
  text-underline-offset: 3px;
}

a,
a:visited,
a:active {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

